<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CompanyManagementSystem.Web</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/partial/dashboard.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/partial/employees.css" asp-append-version="true"/>
    <link rel="icon" href="~/favicon.ico"   asp-append-version="true"/>
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <div class="logo">
            <svg width="158" height="14" viewBox="0 0 158 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_41_70)">
                    <mask id="mask0_41_70" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="158" height="14">
                        <path d="M158 0H0V13.5627H158V0Z" fill="white"/>
                    </mask>
                    <g mask="url(#mask0_41_70)">
                        <path d="M5.19902 13.5629C4.50934 13.5688 3.8242 13.4482 3.17597 13.2068C2.57403 12.9844 2.01432 12.6566 1.52175 12.238C1.05657 11.8403 0.676886 11.348 0.406643 10.7923C0.137613 10.2456 -0.00170096 9.64152 3.19349e-05 9.02921V4.51468C-0.00242543 3.90544 0.13697 3.30437 0.406643 2.76142C0.67899 2.21043 1.05848 1.7224 1.52175 1.32735C2.01432 0.908773 2.57403 0.580977 3.17597 0.358552C3.82408 0.11647 4.50921 -0.00490621 5.19902 0.000151805H16.9384V3.02275H5.19902C4.75129 3.01122 4.31466 3.16603 3.96961 3.45862C3.8113 3.58274 3.68303 3.74257 3.59474 3.92572C3.50646 4.10887 3.46054 4.3104 3.46055 4.51468V9.02921C3.46127 9.23496 3.50764 9.43782 3.59615 9.62248C3.68466 9.80714 3.81299 9.96875 3.97143 10.0951C4.31393 10.3933 4.75152 10.5519 5.20084 10.5407H16.9384V13.5633L5.19902 13.5629Z" fill="white"/>
                        <path d="M30.6392 8.75793V13.5646H27.1787V8.75793L19.2582 0H23.4363L28.9003 5.63827L34.3825 0H38.5588L30.6392 8.75793Z" fill="white"/>
                        <path d="M58.328 4.30141C58.3293 4.75991 58.2428 5.21416 58.073 5.63841C57.9013 6.06685 57.6472 6.45554 57.3258 6.78127C57.6363 7.11046 57.8863 7.49448 58.0634 7.91481C58.241 8.34036 58.3311 8.79881 58.328 9.26161V9.59107C58.3298 10.1265 58.2064 10.6545 57.9682 11.1311C57.7274 11.6178 57.3922 12.0495 56.9843 12.4004C56.5499 12.7729 56.0527 13.0618 55.5176 13.253C54.9376 13.463 54.3256 13.5678 53.71 13.5629H41.0492V0.000137824H44.5097V10.579H53.6995C54.0014 10.5879 54.2964 10.4846 54.5296 10.2883C54.6348 10.2065 54.7199 10.101 54.7791 9.98009C54.8378 9.85908 54.8688 9.7258 54.8693 9.59061V9.26114C54.8683 9.1308 54.8387 9.00233 54.7832 8.8851C54.7276 8.76783 54.6471 8.66469 54.5478 8.58307C54.3097 8.38091 54.0064 8.27736 53.6972 8.29281H47.93V5.30894H53.6963C53.9987 5.31785 54.2942 5.21463 54.5282 5.01821C54.6352 4.93365 54.7213 4.82496 54.7805 4.70059C54.8392 4.57627 54.8697 4.43966 54.8683 4.30141V3.97241C54.8679 3.83715 54.8369 3.70384 54.7777 3.58285C54.719 3.46185 54.6334 3.35642 54.5282 3.27474C54.2942 3.07832 53.9987 2.97509 53.6963 2.98401H47.93V0.000137824H53.6963C54.3124 -0.00434697 54.9248 0.100652 55.5058 0.310471C56.0436 0.501321 56.5431 0.789987 56.9802 1.16261C57.39 1.51303 57.726 1.94461 57.9687 2.43147C58.2073 2.90787 58.3311 3.43595 58.3298 3.97147L58.328 4.30141Z" fill="white"/>
                        <path d="M66.095 13.5629C65.4052 13.5681 64.7203 13.4467 64.072 13.2045C63.47 12.9821 62.9104 12.6543 62.4177 12.2357C61.9528 11.8386 61.5731 11.3471 61.3026 10.7923C61.0335 10.2456 60.8942 9.64152 60.896 9.02921V4.51468C60.8937 3.90544 61.0331 3.30437 61.3026 2.76142C61.5754 2.2106 61.9547 1.72273 62.4177 1.32782C62.9104 0.909081 63.47 0.581126 64.072 0.358552C64.7203 0.11647 65.4052 -0.00490621 66.095 0.000151805H77.8348V3.02275H66.095C65.6474 3.01122 65.2107 3.16603 64.8656 3.45862C64.7071 3.58257 64.5787 3.74234 64.4899 3.9255C64.4016 4.10866 64.3556 4.31028 64.3552 4.51468V9.02921C64.3561 9.23491 64.4021 9.43777 64.4909 9.62243C64.5792 9.80709 64.7071 9.96875 64.8656 10.0951C65.2085 10.3933 65.646 10.5519 66.095 10.5407H77.8348V13.5633L66.095 13.5629ZM67.1914 5.21187H77.8348V8.23447H67.191L67.1914 5.21187Z" fill="white"/>
                        <path d="M84.1598 6.76209H80.7002V13.5628H84.1598V6.76209Z" fill="white"/>
                        <path d="M97.6577 2.46089C97.4168 1.96882 97.0789 1.53341 96.665 1.18222C96.2256 0.810451 95.7266 0.518756 95.1907 0.319821C94.6124 0.103594 94.0009 -0.00467264 93.3853 0.000154581H80.7189V3.02275H93.3853C93.6876 3.01392 93.9831 3.11715 94.2167 3.31349C94.3237 3.39814 94.4098 3.50684 94.4685 3.63116C94.5277 3.75547 94.5578 3.89205 94.5569 4.03029V5.73547C94.5573 5.87505 94.5273 6.01286 94.4681 6.13872C94.4093 6.26453 94.3233 6.37509 94.2167 6.46207C93.9854 6.66419 93.6894 6.77124 93.3853 6.76261H88.4322L92.7428 13.5633H96.6559L94.2358 9.70681C94.759 9.62295 95.2658 9.45639 95.7384 9.21307C96.1819 8.98646 96.5872 8.68891 96.9391 8.33154C97.2752 7.98947 97.5443 7.5852 97.7328 7.14014C97.9218 6.69718 98.0183 6.2188 98.0165 5.73547V4.03029C98.0187 3.48549 97.8963 2.94782 97.6577 2.46089Z" fill="#F24405"/>
                        <path d="M112.809 0.00014928C113.498 -0.00472869 114.182 0.11665 114.828 0.358549C115.43 0.581187 115.989 0.908973 116.481 1.32735C116.944 1.72249 117.323 2.21052 117.595 2.76142C117.866 3.31109 118.005 3.91897 118.001 4.53475V9.02967C118.003 9.64189 117.863 10.2459 117.595 10.7927C117.325 11.3476 116.945 11.839 116.481 12.2361C115.989 12.6554 115.43 12.9839 114.828 13.2068C114.181 13.449 113.497 13.5703 112.808 13.5652H105.614C104.925 13.5704 104.24 13.449 103.593 13.2068C102.991 12.9846 102.432 12.6567 101.941 12.238C101.476 11.8409 101.097 11.3494 100.826 10.7946C100.558 10.2478 100.418 9.64381 100.42 9.03154V4.53382C100.416 3.91802 100.555 3.3101 100.826 2.76048C101.099 2.20975 101.479 1.72203 101.942 1.32735C102.434 0.908978 102.993 0.581187 103.594 0.358549C104.241 0.116514 104.925 -0.0048657 105.614 0.00014928H112.809ZM103.88 9.02921C103.881 9.23487 103.928 9.43768 104.016 9.62225C104.104 9.80681 104.233 9.96837 104.391 10.0946C104.734 10.3929 105.171 10.5516 105.62 10.5403H112.825C113.053 10.542 113.281 10.5027 113.496 10.4241C113.695 10.3512 113.88 10.243 114.042 10.1044C114.198 9.97173 114.323 9.80658 114.411 9.62001C114.499 9.436 114.544 9.23393 114.544 9.02921V4.53382C114.544 4.32911 114.499 4.12705 114.411 3.94302C114.323 3.75643 114.198 3.59127 114.042 3.45862C113.88 3.32004 113.695 3.21184 113.496 3.13895C113.281 3.06024 113.053 3.02091 112.825 3.02275H105.62C105.171 3.01168 104.734 3.1703 104.391 3.46842C104.232 3.59479 104.104 3.75641 104.015 3.94106C103.927 4.12571 103.881 4.32856 103.88 4.53428L103.88 9.02921Z" fill="white"/>
                        <path d="M132.879 0.000151043C133.568 -0.00489407 134.253 0.116487 134.9 0.358551C135.501 0.581187 136.06 0.908973 136.552 1.32735C137.015 1.72249 137.394 2.21052 137.666 2.76142C137.937 3.31109 138.077 3.91897 138.072 4.53475V9.02967C138.074 9.64189 137.935 10.2459 137.666 10.7927C137.396 11.3476 137.017 11.839 136.552 12.2361C136.06 12.6554 135.501 12.9839 134.9 13.2068C134.253 13.449 133.568 13.5703 132.879 13.5652H125.685C124.996 13.5704 124.312 13.449 123.664 13.2068C123.063 12.9846 122.504 12.6568 122.012 12.238C121.548 11.8408 121.168 11.3494 120.898 10.7946C120.63 10.2478 120.49 9.64376 120.492 9.03154V4.53382C120.488 3.91807 120.627 3.31019 120.898 2.76048C121.17 2.20962 121.549 1.7216 122.012 1.32642C122.504 0.908334 123.063 0.580855 123.664 0.358551C124.311 0.116516 124.995 -0.00486393 125.684 0.000151043H132.879ZM123.95 9.02921C123.951 9.23487 123.998 9.43768 124.086 9.62225C124.175 9.80681 124.303 9.96837 124.461 10.0946C124.804 10.393 125.241 10.5516 125.691 10.5403H132.893C133.122 10.542 133.349 10.5027 133.565 10.4241C133.764 10.3511 133.948 10.243 134.111 10.1044C134.266 9.97173 134.392 9.80658 134.48 9.62001C134.567 9.436 134.613 9.23393 134.612 9.02921V4.53382C134.613 4.32912 134.567 4.12706 134.48 3.94302C134.392 3.75644 134.266 3.59128 134.111 3.45862C133.948 3.32008 133.764 3.21188 133.565 3.13895C133.349 3.06025 133.122 3.02092 132.893 3.02275H125.69C125.241 3.01168 124.804 3.1703 124.461 3.46842C124.302 3.59479 124.174 3.75641 124.086 3.94106C123.997 4.12571 123.951 4.32856 123.95 4.53428L123.95 9.02921Z" fill="white"/>
                        <path d="M146.619 0.0196L154.542 13.5632H150.655L144.257 2.34453V13.5627H140.796V0.0196H146.619ZM158 13.5632H154.54V0H158V13.5632Z" fill="white"/>
                    </g>
                </g>
                <defs>
                    <clipPath id="clip0_41_70">
                        <rect width="158" height="14" fill="white"/>
                    </clipPath>
                </defs>
            </svg>

        </div>
        <nav class="nav">
            <ul>
                <li class="nav-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                        <path d="M12.4535 2.8564C12.0761 2.8564 11.7183 2.94143 11.3978 3.09287C11.5202 3.25052 11.6301 3.41833 11.7259 3.59494C11.8198 3.76812 11.9 3.94981 11.9654 4.13827C12.0958 4.51416 12.1669 4.91751 12.1669 5.3372C12.1669 5.75685 12.0958 6.16024 11.9654 6.5361C11.9 6.72462 11.8198 6.90621 11.7259 7.07943C11.6301 7.25604 11.5202 7.42381 11.3978 7.58149C11.7183 7.7329 12.0761 7.818 12.4535 7.818C13.8214 7.81807 14.9343 6.70517 14.9343 5.33727C14.9343 3.96927 13.8214 2.8564 12.4535 2.8564Z" fill="white"/>
                        <path d="M12.4535 9.00407C12.3067 9.00407 12.1604 9.01131 12.015 9.02536C12.2415 9.2017 12.4545 9.39441 12.6521 9.60206C12.8515 9.8116 13.0349 10.0363 13.2011 10.274C13.7439 11.0505 14.0997 11.9669 14.202 12.9576C14.2222 13.1526 14.2326 13.3504 14.2326 13.5506C14.2326 13.7585 14.1964 13.958 14.1306 14.1436H16.407C16.7345 14.1436 17 13.878 17 13.5506C17 11.0436 14.9604 9.00407 12.4535 9.00407Z" fill="white"/>
                        <path d="M5.03465 6.53619C4.90423 6.16033 4.83314 5.75695 4.83314 5.3373C4.83314 4.91761 4.90423 4.51426 5.03465 4.13837C5.10009 3.94977 5.18028 3.76815 5.27418 3.59497C5.36993 3.41836 5.47987 3.25058 5.60229 3.0929C5.28178 2.9415 4.92395 2.85643 4.54657 2.85643C3.17863 2.85643 2.06577 3.9693 2.06577 5.33723C2.06577 6.70513 3.17863 7.81803 4.54657 7.81803C4.92395 7.81803 5.28178 7.73296 5.60229 7.58152C5.4799 7.42384 5.36993 7.25607 5.27418 7.07946C5.18028 6.90631 5.10006 6.72469 5.03465 6.53619Z" fill="white"/>
                        <path d="M4.54649 9.00407C2.03956 9.00407 0 11.0436 0 13.5506C0 13.8781 0.265525 14.1436 0.593007 14.1436H2.86941C2.80363 13.958 2.76744 13.7584 2.76744 13.5506C2.76744 13.3503 2.77783 13.1525 2.79796 12.9576C2.90022 11.9669 3.25606 11.0505 3.79889 10.274C3.96508 10.0363 4.14849 9.8116 4.34787 9.60206C4.54543 9.39441 4.7585 9.2017 4.98494 9.02536C4.83958 9.01131 4.69325 9.00407 4.54649 9.00407Z" fill="white"/>
                        <path d="M10.804 4.41913C10.7207 4.21092 10.6104 4.01638 10.4768 3.84031C10.0233 3.24305 9.30612 2.8564 8.50001 2.8564C7.69391 2.8564 6.97672 3.24305 6.52327 3.84037C6.38959 4.01645 6.27929 4.21098 6.19599 4.4192C6.0824 4.70339 6.01918 5.01297 6.01918 5.33723C6.01918 5.66146 6.0824 5.97105 6.19599 6.25523C6.27929 6.46345 6.38959 6.65798 6.52327 6.83406C6.97672 7.43132 7.69391 7.818 8.50001 7.818C9.30612 7.818 10.0233 7.43132 10.4768 6.83399C10.6104 6.65792 10.7207 6.46338 10.804 6.25516C10.9176 5.97098 10.9808 5.66143 10.9808 5.33717C10.9808 5.0129 10.9176 4.70332 10.804 4.41913Z" fill="white"/>
                        <path d="M13.0079 12.9576C12.8714 11.9149 12.3803 10.9824 11.6601 10.2851C11.4895 10.12 11.3062 9.96809 11.1117 9.83113C10.911 9.68982 10.6985 9.56418 10.4759 9.45634C10.0478 9.24895 9.58257 9.10677 9.09309 9.04272V12.7599C9.09309 13.0874 8.82756 13.3529 8.50008 13.3529C8.17257 13.3529 7.90708 13.0874 7.90708 12.7599V9.04272C7.41756 9.10677 6.95232 9.24895 6.52423 9.45634C6.30161 9.56421 6.08911 9.68982 5.88843 9.83113C5.69389 9.96813 5.51058 10.1201 5.34008 10.2851C4.61974 10.9823 4.12867 11.9149 3.99224 12.9576C3.96687 13.1517 3.95362 13.3496 3.95362 13.5506C3.95362 13.8781 4.21915 14.1436 4.54663 14.1436H12.4536C12.7811 14.1436 13.0466 13.878 13.0466 13.5506C13.0466 13.3496 13.0333 13.1517 13.0079 12.9576Z" fill="white"/>
                    </svg>
                    <a asp-controller="Main" asp-action="Dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                        <g clip-path="url(#clip0_92_9)">
                            <path d="M13.8125 11.1562H12.75V13.8125H13.8125V11.1562Z" fill="white"/>
                            <path d="M11.6875 8.5H10.625V13.8125H11.6875V8.5Z" fill="white"/>
                            <path d="M5.84375 13.8125C5.13952 13.8117 4.46438 13.5316 3.96641 13.0336C3.46845 12.5356 3.18833 11.8605 3.1875 11.1562H4.25C4.25 11.4715 4.34347 11.7796 4.5186 12.0417C4.69372 12.3038 4.94263 12.5081 5.23385 12.6287C5.52507 12.7493 5.84552 12.7809 6.15468 12.7194C6.46383 12.6579 6.74781 12.5061 6.9707 12.2832C7.19359 12.0603 7.34538 11.7763 7.40688 11.4672C7.46837 11.158 7.43681 10.8376 7.31618 10.5463C7.19556 10.2551 6.99128 10.0062 6.72919 9.83109C6.4671 9.65597 6.15896 9.5625 5.84375 9.5625V8.5C6.54823 8.5 7.22386 8.77985 7.722 9.278C8.22015 9.77614 8.5 10.4518 8.5 11.1562C8.5 11.8607 8.22015 12.5364 7.722 13.0345C7.22386 13.5326 6.54823 13.8125 5.84375 13.8125Z" fill="white"/>
                            <path d="M14.875 1.0625H2.125C1.84329 1.06278 1.57321 1.17481 1.37401 1.37401C1.17481 1.57321 1.06278 1.84329 1.0625 2.125V14.875C1.06282 15.1567 1.17487 15.4268 1.37406 15.6259C1.57324 15.8251 1.84331 15.9372 2.125 15.9375H14.875C15.1567 15.9371 15.4267 15.8251 15.6259 15.6259C15.8251 15.4267 15.9371 15.1567 15.9375 14.875V2.125C15.9372 1.84331 15.8251 1.57324 15.6259 1.37406C15.4268 1.17487 15.1567 1.06282 14.875 1.0625ZM14.875 5.84375H7.4375V2.125H14.875V5.84375ZM6.375 2.125V5.84375H2.125V2.125H6.375ZM2.125 14.875V6.90625H14.8754L14.8761 14.875H2.125Z" fill="white"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_92_9">
                                <rect width="17" height="17" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                    <a asp-controller="Main" asp-action="Employees">Employees</a>
                </li>
            </ul>
        </nav>
        <a href="https://github.com/everyonehatesvludd" class="footer-link">
            <div class="footer">
                <div class="app-name">Company Management System</div>
                <div class="by">by slezkipotekli</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="41" viewBox="0 0 42 41" fill="none">
                    <g clip-path="url(#clip0_43_91)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9374 0C9.35957 0 0 9.39583 0 21.0198C0 30.3114 5.997 38.1765 14.3164 40.9603C15.3566 41.1695 15.7376 40.508 15.7376 39.9515C15.7376 39.4642 15.7033 37.7939 15.7033 36.0535C9.879 37.3066 8.66614 33.5478 8.66614 33.5478C7.73014 31.1117 6.34329 30.4856 6.34329 30.4856C4.437 29.198 6.48214 29.198 6.48214 29.198C8.59671 29.3372 9.70629 31.3556 9.70629 31.3556C11.5779 34.557 14.5937 33.6525 15.807 33.0955C15.9801 31.7383 16.5351 30.7987 17.1244 30.2768C12.4791 29.7895 7.59171 27.9799 7.59171 19.9059C7.59171 17.6091 8.42314 15.7299 9.74057 14.2684C9.53271 13.7465 8.80457 11.5885 9.94886 8.70011C9.94886 8.70011 11.7167 8.1432 15.7029 10.8577C17.4095 10.3976 19.1695 10.1636 20.9374 10.1616C22.7053 10.1616 24.5074 10.4055 26.1716 10.8577C30.1581 8.1432 31.926 8.70011 31.926 8.70011C33.0703 11.5885 32.3417 13.7465 32.1339 14.2684C33.486 15.7299 34.2831 17.6091 34.2831 19.9059C34.2831 27.9799 29.3957 29.7545 24.7157 30.2768C25.4786 30.9379 26.1369 32.1905 26.1369 34.1744C26.1369 36.9931 26.1026 39.2554 26.1026 39.9511C26.1026 40.508 26.484 41.1695 27.5237 40.9607C35.8431 38.1761 41.8401 30.3114 41.8401 21.0198C41.8744 9.39583 32.4806 0 20.9374 0Z" fill="#04050A"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_43_91">
                            <rect width="42" height="42" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </a>
    </aside>
    <main class="main-content">
        <header class="header">
            <div class="user-info">
                <div class="user-details">
                    <div class="user-name">Vladyslav Lysenko</div>
                    <div class="user-role">Founder</div>
                </div>
                <div class="user-avatar">
                    <svg width="427" height="512" viewBox="0 0 427 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M191.403 1.27885C164.094 5.57185 139.695 18.5099 120.571 38.8389C99.5918 61.1399 88.7198 86.8919 87.2248 117.824C85.1368 161.026 106.338 202.325 142.891 226.262C160.87 238.035 178.211 244.013 199.215 245.677C238.146 248.761 271.343 236.525 298.142 209.212C319.357 187.591 330.206 164.066 332.848 133.957C336.377 93.7368 321.243 56.2789 290.903 30.1449C271.336 13.2889 253.281 4.96385 228.403 1.32385C216.451 -0.425146 202.353 -0.442146 191.403 1.27885ZM100.581 247.916C55.3588 252.692 24.0218 285.141 9.40881 342.324C-0.335195 380.454 -2.8412 426.273 3.4468 451.324C8.4988 471.448 25.1588 491.87 44.4568 501.593C53.2228 506.01 65.7458 509.672 76.1878 510.873C82.3748 511.585 129.604 511.828 219.903 511.614L354.403 511.295L362.903 508.962C394.458 500.301 416.115 479.159 423.996 449.324C428.113 433.738 427.601 397.769 422.837 367.824C412.514 302.947 385.759 263.626 343.628 251.417C334.009 248.63 316.801 246.51 311.7 247.485C306.82 248.417 299.998 252.062 284.599 261.963C268.195 272.51 265.921 273.711 253.637 278.313C239.41 283.642 227.669 285.889 214.042 285.891C199.797 285.892 189.287 283.979 174.276 278.652C162.868 274.603 158.546 272.262 134.903 257.32C123.244 249.952 115.405 246.632 110.435 246.957C109.317 247.03 104.883 247.462 100.581 247.916Z" fill="white"/>
                    </svg>

                </div>
            </div>
        </header>
        <section class="content">
            @RenderBody()
        </section>
        <footer class="version">Version 1.0</footer>
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>